div[class*="box"] {
    + div[class*="box"] {
        margin-top:30px;
        &.flush {
            margin-top:0;
        }
    }
    h4 {
        font-size:20px;
        font-weight:600;
        margin:0;
        + p {
            margin-top:20px;
        }
    }
    p {
        font-size:16px;
        line-height:24px;
        margin-bottom:10px;
        + h4 {
            margin-top:20px;
        }
    }
    .item-list {
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }
    &.center{
        text-align:center;
    }
    &.flush {
        margin-top:0;
    }
    &.title1 {
        h2 {
            font-size: 22px;
            text-transform: none;
            margin: 0 0 10px 0;
            line-height: 32px;
            color: $blue;
            border-bottom: 3px solid $blue;
        }
    }
    &.box1 {
        background:$blue;
        padding:20px;
        color:#fff;
    }
    &.box2 {
        background:darken($blue,10%);
        color:#fff;
        padding:20px;
    }
    &.box3 {
        background:$xl-gray;
        padding:20px;
        color:$gray;
    }
    &.box4 {
        border:2px solid $blue;
        padding:20px;
        color:darken$md-gray;
        h4 {
            color:$blue;
        }
    }
}
.no-fees {
    background:rgba(#000,.7);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width:100%;
    left: 0;
    bottom: 0;
    p {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 0;
        color:#fff;
        font-weight: 300;
    }
    a {
        color:#fff;
        position: relative;
        text-decoration: none;
        &::before {
            background:#fff;
            content: "";
            width:100%;
            height: 2px;
            margin-top: 5px;
            position: absolute;
            left: 0;
            bottom: 0;
            @include transition(width .3s cubic-bezier(0.0, 0.0, 0.2, 1));
        }
        &::after {
            background:$green;
            content: "";
            width:0;
            height: 2px;
            margin-top: 5px;
            position: absolute;
            left: 0;
            bottom: 0;
            @include transition(width .3s cubic-bezier(0.0, 0.0, 0.2, 1));
        }
        &:hover, &:focus {
            color:$green;
            &::after {
                width:100%;
            }
        }
    }
}

.features {
    margin:60px -15px;
    @include breakpoint(xs) {
        margin: 0 -15px;
    }
    div[class^="box"] {
        text-align: center;
        padding:40px 20px;
        .title {
            color:#fff;
            font-size:20px;
        }
        .blurb {
            font-size:80px;
            font-weight: 800;
            margin:40px 0;
            @include breakpoint(xs) {
                font-size: 45px;
                margin:20px 0;
            }
            span {
                font-size:50px;
                text-transform: uppercase;
                @include breakpoint(xs) {
                    font-size: 25px;
                }
            }
        }
        &.box2 {
            margin: -30px 0;
            padding: 70px 0;
        }
    }
}
#block-staffordshire-local-tasks {
    ul {
        padding:0;
        list-style-type:none;
        border-bottom:2px solid $xl-gray;
        li {
            display:inline-block;
            background:$xl-gray;
            padding:10px;
            @include transition(background .3s linear);
            &:hover, &:focus {
                background:$lt-gray;
                a {
                    color:#fff;
                }
            }
            a {
                color:$gray;
            }
        }
    }
}
#block-homepagefeatures, #block-homepagefeatures-2 {
    text-align: center;
    color:#fff;
    h2 {
        margin: 0 0 100px 0;
        position:relative;
        &::after {
            content: "";
            position: absolute;
            width:30%;
            height:4px;
            background:#fff;
            left:50%;
            top:100%;
            margin-top:35px;
            @include translate(-50%,0);
        }
    }
    .inner {
        background:#fff;
        padding:45px 20px;
        color:darken($blue,.2);
        @include breakpoint(sm) {
            margin-bottom:15px;
        }
        @include breakpoint(xs) {
            margin-bottom:15px;
        }
        p {
            font-size:15px;
            line-height:21px;
            margin:0;
        }
        i {
            font-size:65px;
            margin-bottom: 25px;
            display: block;
        }
    }
}
#block-homepagefeatures-2 {
    div[class^="col"] {
        .inner {
            background:$blue;
            color:#fff;
        }
        &:nth-of-type(even) {
            .inner {
                background:darken($blue,10%);
            }
        }
    }
}