.btn {
    border-radius:0!important;
    box-shadow:none!important;
    outline:none!important;
    text-transform:uppercase;
    text-decoration:none!important;
    text-align: left;
    font-size:20px;
    line-height:20px;
    padding:16px 30px;
    position: relative;
    @include transition(background .3s linear);
    &.clear {
        color:#fff!important;
        border:1px solid #fff; 
        background:rgba(255,255,255,.1);
        &:hover {
            background: rgba(255,255,255,.2);
            color:#fff;
        }
    }
    &.blue {
        background:$blue;
        color:#fff!important;
        &:hover {
            background: darken($blue, 20%);
        }
    }
    &.orange {
        background:$orange;
        color:#fff!important;
        &:hover {
            background: darken($orange, 20%);
        }
    }
    &.green {
        background:$green;
        color:#fff!important;
        &:hover {
            background: darken($green, 20%);
        }
    }
    &.black {
        background:#000;
        color:#fff!important;
        &:hover {
            background: $md-gray;
        }
    }
}