.content {
    article {
        h2 {
            font-size:42px;
            text-transform: none;
            font-weight: 400;
            line-height: 50px;
            margin-bottom: 20px;
        }
        ul {
            &:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots){
                list-style-type:none;
                padding-left:20px;
                margin-bottom:30px;
                li {
                    position:relative;
                    font-size:18px;
                    @include breakpoint(md) {
                        font-size:16px;
                    }
                    + li {
                        margin-top:15px;
                    }
                    &::before {
                        color: $blue;
                        content: "\2022";
                        display: block;
                        font-size: 28px;
                        left: -20px;
                        line-height: 20px;
                        position: absolute;
                        top: 0;
                        vertical-align: top;
                    }
                    ul {
                        margin-bottom:0;
                        margin-top:10px;
                        li {
                            font-size:16px;
                            + li {
                                margin-top:7px;
                            }
                            &::before {
                                font-size:24px;
                            }
                        }
                    }
                }
            }
            &.two-col {
                columns:2 auto;
                column-gap:100px;
                display:inline-block;
                list-style-type:none;
                padding:0;
                @include breakpoint(xs) {
                    columns:1;
                }
            }
        }
    }
    .sidebar {
        h1  {
            font-size:28px;
            font-weight: 500;
            line-height: 36px;
            text-align: right;
            color: $gray;
        }
        .info {
            margin: 20px 0;
            text-align: right;
            font-size:22px;
            div {
                padding: 10px 0;
                + div {
                    border-top: 1px solid $lt-gray;
                }
            }
            i {
                margin-right: 15px;
                float: left;
                line-height: 35px;
            }
        }
        .btn:not(.underline):not(.dropdown-toggle) {
            text-align: center;
            padding:20px 30px;
            margin-bottom: 20px;
        }
        .filters {
            .form-item {
                padding:0;
                margin-bottom: 20px;
                float:none;
                label {
                    color:$blue;
                    text-transform: uppercase;
                    font-size:20px;
                }
            }
            .btn:not(.dropdown-toggle) {
                background:$orange;
                color:#fff;
                display: block;
                width: 100%;
                margin-top:30px;
                text-align: center;
                font-weight: 600;
                &:hover {
                    background:darken($orange,20%);
                }
            }
            #edit-reset {
                background: $lt-gray;
                margin-top:10px;
                &:hover {
                    background:darken($lt-gray,10%);;
                }
            }
        }
    }
}
.testimonials {
    h2 {
        color:$orange;
        font-weight: 400;
        margin-bottom:40px;
        text-transform: none;
    }
    .testimonial {
        color:#333333;
        font-size:18px;
        line-height: 26px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            height:100%;
            width:5px;
            background:$green;
            top:0;
        }
        &:nth-of-type(odd) {
            text-align: left;
            padding-left:20px;
            &::before {
                left:0;
            }
        }
        &:nth-of-type(even) {
            text-align: right;
            padding-right:20px;
            &::before {
                right:0;
                background:$orange;
            }
        }
        + .testimonial {
            margin-top:30px
        }
    }
    .pager {
        text-align: center;
        .button {
            border-radius: 0;
            border:2px solid $orange;
            color:$orange;
            font-size:24px;
            padding:10px 40px;
            line-height: 24px;
            @include transition(backgorund .3s linear, color .3s linear);
            &:hover {
                background:$orange;
                color:#fff;
            }
        }
    }
}
.property-listings {
    .property {
        position:relative;
        .info {
            background:$green;
            top:-5px;
            right:10px;
            padding:10px;
            color:#fff;
            position: absolute;
            font-size:18px;
            min-width: 90px;
            &::before {
                content: "";
                position: absolute;
                left:0;
                top:100%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px 45px 0 0;
                border-color: $green transparent transparent transparent;
            }
            &::after {
                content: "";
                position: absolute;
                right:0;
                top:100%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 45px 20px 0;
                border-color: transparent $green transparent transparent;
            }
            .price {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .bed, .bath {
                width: 90%;
                text-align: right;
                margin: 0 auto;
                i {
                    margin-right: 15px;
                    float: left;
                }
            }
        }
        .title {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            text-align: left;
        }
        .blurb {
            background:rgba(#000,.5);
            color:#fff;
            position: absolute;
            bottom:0;
            left: 0;
            width:100%;
            padding:20px;
            text-align: right;
            a {
                color:$green;
                font-weight: 700;
                margin-left: 10px;
                text-transform: uppercase;
                
            }
        }
    }
}