.footer {
    background:#fff;
    color:$md-gray;
    p {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        @include breakpoint(xs) {
            text-align: left;
        }
        a {
            color: $blue;
            &:hover {
                color:$green;
            }
        }
    }
    .btn {
        text-align: center;
    }
}