.header {
    .logo {
        position: relative;
        z-index: 9;
        .white-logo {
            display:none;
        }
    }
    .nav-toggle  {
        font-size: 33px;
        color: #fff;
        margin-top: 20px;
        position: relative;
        z-index: 9;
        @include rotate(0);
        @include transform-origin(15px);
        @include transition (transform .3s cubic-bezier(0.0, 0.0, 0.2, 1));
        .nav-open &{
            @include rotate(90);            
        }
        .scroll:not(.nav-open) &{
            color:$blue;
        }
    }
    .nav {
        @include breakpoint(xs) {
            position:fixed;
            top:0;
            width:100%;
            left:0;
            background:$blue;
            padding:150px 40px;
            height: 100vh;
            @include translate(100%,0);
            @include transition(transform .3s linear);
            .nav-open &{
                @include translate(0,0);
            }
        }
        ul {
            list-style-type: none;
            padding:0;
            margin:0;
            text-align:right;
            @include breakpoint(xs) {
                text-align: left;
            }
            li {
                display:inline-block;
                font-size: 22px;
                vertical-align: middle;
                padding:20px 30px;
                @include breakpoint(xs) {
                    display: block;
                    padding:30px 0;
                    + li {
                        border-top:1px solid darken($blue,5%);
                    }
                }
                a {
                    color:$blue;
                    font-weight: 300;
                    text-decoration: none;
                    position: relative;
                    overflow: hidden;
                    display: block;
                    padding:10px 0 5px;
                    @include breakpoint(xs) {
                        text-transform: uppercase;
                        padding:0;
                    }
                    &::before {
                        background:$blue;
                        content:"";
                        position: absolute;
                        left: 0;
                        top:100%;
                        margin-top: -5px;
                        height:2px;
                        width: 100%;
                        @include translate(-100%,0);
                        @include transition(transform .3s linear);
                        @include breakpoint(xs) {
                            display: none;
                        }
                    }
                    &:hover, &.is-active {
                        &::before {
                            @include translate(0%,0);
                        }
                    }
                    &.is-active {
                        @include breakpoint(xs) {
                            color:$green;
                        }
                    }
                    &.btn {
                        border:1px solid $blue;
                        padding:20px 30px;
                        @include transition(border .3s linear, background .3s linear, color .3s linear);
                        @include breakpoint(xs) {
                            border:none!important;
                            padding: 0;
                            font-size: 22px;
                        }
                        &::before {
                            display: none;
                        }
                        &:hover {
                            border:1px solid darken($blue,10%);
                            background: darken($blue,10%);
                            color:#fff;
                            @include breakpoint(xs) {
                                background:none!important;
                            }
                        }
                    }
                }
            }
        }
    }
}