{% extends 'block.html.twig' %}
{% block content %}
    {% if content.field_title.value|length > 0 %}
        <div class="col-xs-12">
            <h2>{{ content.field_title }}</h2>
        </div>
    {% endif %}
    {{ content.field_featured_ctas }}
{% endblock %}