/*COLORS*/
/*FONTS*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
@font-face {
  font-family: 'icomoon';
  src: url("/themes/staffordshire/fonts/icomoon.eot?9jnhlv");
  src: url("/themes/staffordshire/fonts/icomoon.eot?9jnhlv#iefix") format("embedded-opentype"), url("/themes/staffordshire/fonts/icomoon.ttf?9jnhlv") format("truetype"), url("/themes/staffordshire/fonts/icomoon.woff?9jnhlv") format("woff"), url("/themes/staffordshire/fonts/icomoon.svg?9jnhlv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-measure:before {
  content: "\f0b2";
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-arrow-down:before {
  content: "\e902";
}

.icon-bath:before {
  content: "\e903";
}

.icon-dollar:before {
  content: "\e904";
}

.icon-bed:before {
  content: "\e905";
}

.icon-menu:before {
  content: "\e906";
}

.icon-search:before {
  content: "\e907";
}

.icon-handshake:before {
  content: "\e908";
}

.icon-phone:before {
  content: "\e909";
}

.icon-briefcase:before {
  content: "\e90a";
}

.icon-calendar:before {
  content: "\e90b";
}

.typography i {
  font-size: 24px;
}
.typography .example {
  border: 1px solid #c2c2c2;
  padding: 30px 10px 10px;
  position: relative;
}
.typography .example::after {
  background-color: #ebebeb;
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 0;
  color: #9da0a4;
  content: "Example";
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;
}
.typography .example + code, .typography .example + .codeblock {
  background: #f5f5f5;
  border: 1px solid #c2c2c2;
  border-top: 0;
  color: #333;
  display: block;
  border-radius: 0;
  padding: 10px;
}
.typography .example + code code, .typography .example + .codeblock code {
  background: none;
  border: none;
  padding: 0;
}
.typography .row + .row {
  margin-top: 30px;
}

.input-group, .form-item {
  margin-bottom: 10px;
}
.input-group input, .form-item input {
  border-radius: 0;
  border: 1px solid #d8d8d8;
  box-shadow: none;
  outline: none;
  line-height: 32px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  color: #3c3d40;
  background: #fff;
}
.input-group input:focus, .form-item input:focus {
  border: 1px solid #43527e;
}
.input-group input.error, .form-item input.error {
  border: 1px solid #a63428;
}
.input-group input::-webkit-input-placeholder, .form-item input::-webkit-input-placeholder {
  color: #d8d8d8;
  opacity: 1;
}
.input-group input:-moz-placeholder, .form-item input:-moz-placeholder {
  color: #d8d8d8;
  opacity: 1;
}
.input-group input::-moz-placeholder, .form-item input::-moz-placeholder {
  color: #d8d8d8;
  opacity: 1;
}
.input-group input:-ms-input-placeholder, .form-item input:-ms-input-placeholder {
  color: #d8d8d8;
  opacity: 1;
}
.input-group textarea, .form-item textarea {
  border-radius: 0;
  border: 1px solid #d8d8d8;
  box-shadow: none;
  outline: none;
  padding: 16px;
  width: 100%;
}
.input-group textarea:focus, .form-item textarea:focus {
  border: 1px solid #43527e;
  box-shadow: none;
}
.input-group textarea::-webkit-input-placeholder, .form-item textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  line-height: 40px;
  opacity: 1;
}
.input-group textarea::-moz-placeholder, .form-item textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  opacity: 1;
}
.input-group textarea:-ms-input-placeholder, .form-item textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 12px;
  opacity: 1;
}
.input-group textarea:-moz-placeholder, .form-item textarea:-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
  opacity: 1;
}

.captcha {
  clear: both;
  margin: 15px;
}

.bootstrap-select.btn-group, .bootstrap-select {
  width: 100% !important;
}
.bootstrap-select.btn-group ul li, .bootstrap-select ul li {
  display: block !important;
}
.bootstrap-select.btn-group ul li a, .bootstrap-select ul li a {
  font-size: 14px !important;
}
.bootstrap-select.btn-group .dropdown-toggle, .bootstrap-select .dropdown-toggle {
  border-radius: 0;
  border: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
  padding: 10px 15px;
  line-height: 30px;
  color: #fff;
  background: #43527e;
  text-transform: none;
}
.bootstrap-select.btn-group .dropdown-toggle:hover, .bootstrap-select.btn-group .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:hover, .bootstrap-select .dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
  color: #fff;
  background: #313c5d;
  text-shadow: none;
}
.bootstrap-select.btn-group .dropdown-toggle:hover .bs-caret .caret, .bootstrap-select.btn-group .dropdown-toggle:focus .bs-caret .caret, .bootstrap-select .dropdown-toggle:hover .bs-caret .caret, .bootstrap-select .dropdown-toggle:focus .bs-caret .caret {
  border: none;
}
.bootstrap-select.btn-group .dropdown-toggle .bs-caret, .bootstrap-select .dropdown-toggle .bs-caret {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
}
.bootstrap-select.btn-group .dropdown-toggle .bs-caret .caret, .bootstrap-select .dropdown-toggle .bs-caret .caret {
  border: none;
  position: relative;
  display: block;
  height: 23px;
  right: 0;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.bootstrap-select.btn-group .dropdown-toggle .bs-caret .caret::before, .bootstrap-select .dropdown-toggle .bs-caret .caret::before {
  content: "\e902";
  font-family: icomoon;
  color: #fff;
  font-family: 18px;
  display: block;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  moz-transform-origin: 8px center;
  -o-transform-origin: 8px center;
  -ms-transform-origin: 8px center;
  -webkit-transform-origin: 8px center;
  transform-origin: 8px center;
}
.bootstrap-select.btn-group.dropup .bs-caret .caret::before, .bootstrap-select.btn-group.open .bs-caret .caret::before, .bootstrap-select.dropup .bs-caret .caret::before, .bootstrap-select.open .bs-caret .caret::before {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.bootstrap-select.btn-group .dropdown-menu, .bootstrap-select .dropdown-menu {
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: #3a476d;
}
.bootstrap-select.btn-group .dropdown-menu > li > a, .bootstrap-select .dropdown-menu > li > a {
  text-transform: none;
  color: #fff;
  font-size: 18px !important;
  background: none;
}
.bootstrap-select.btn-group .dropdown-menu > li > a:hover, .bootstrap-select.btn-group .dropdown-menu > li > a:focus, .bootstrap-select .dropdown-menu > li > a:hover, .bootstrap-select .dropdown-menu > li > a:focus {
  color: #a6bb51;
  background: none;
}
.bootstrap-select.btn-group .dropdown-menu > li.selected > a, .bootstrap-select .dropdown-menu > li.selected > a {
  color: #a6bb51;
}
.bootstrap-select.btn-group .dropdown-menu > li + li, .bootstrap-select .dropdown-menu > li + li {
  border-top: 1px solid #43527e;
}

.btn {
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  text-transform: uppercase;
  text-decoration: none !important;
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  padding: 16px 30px;
  position: relative;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
  -moz-transition: background 0.3s linear, color 0.3s linear;
  -ms-transition: background 0.3s linear, color 0.3s linear;
  -o-transition: background 0.3s linear, color 0.3s linear;
  transition: background 0.3s linear, color 0.3s linear;
}
.btn.clear {
  color: #fff !important;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
}
.btn.clear:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.btn.blue {
  background: #43527e;
  color: #fff !important;
}
.btn.blue:hover {
  background: #20273b;
}
.btn.orange {
  background: #b66f36;
  color: #fff !important;
}
.btn.orange:hover {
  background: #673f1f;
}
.btn.green {
  background: #a6bb51;
  color: #fff !important;
}
.btn.green:hover {
  background: #69772f;
}
.btn.black {
  background: #000;
  color: #fff !important;
}
.btn.black:hover {
  background: #3c3d40;
}
.btn.link {
  margin: 0;
  text-align: left;
  padding: 10px 0 0 0;
  color: #b66f36;
}
.btn.link:hover {
  color: #673f1f;
}
.btn.underline {
  background: none;
  padding: 0;
  position: relative;
  text-transform: none;
  font-weight: 400;
  color: #43527e;
}
.btn.underline::before {
  background: #20273b;
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 3px;
  left: 0;
  z-index: 2;
  -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.btn.underline::after {
  background: #43527e;
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  left: 0;
}
.btn.underline:hover::before {
  width: 100%;
}

.slick .slick-arrow {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  height: 100px;
  width: 40px;
  z-index: 9;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
  -moz-transition: background 0.3s linear, color 0.3s linear;
  -ms-transition: background 0.3s linear, color 0.3s linear;
  -o-transition: background 0.3s linear, color 0.3s linear;
  transition: background 0.3s linear, color 0.3s linear;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .slick .slick-arrow {
    height: 80px;
    width: 30px;
  }
}
@media (max-width: 767px) {
  .slick .slick-arrow {
    height: 60px;
    width: 30px;
  }
}
.slick .slick-arrow::before {
  font-family: 'icomoon' !important;
  color: #fff;
  font-size: 30px;
  opacity: 1;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .slick .slick-arrow::before {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .slick .slick-arrow::before {
    font-size: 20px;
  }
}
.slick .slick-arrow.slick-prev {
  left: 0;
}
.slick .slick-arrow.slick-prev::before {
  content: "\e900";
}
.slick .slick-arrow.slick-next {
  right: 0;
}
.slick .slick-arrow.slick-next::before {
  content: "\e901";
}
.slick .slick-arrow:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #231F20;
}
.slick .slick-arrow:hover::before {
  opacity: 1;
}
.slick .slick-slide {
  position: relative;
}
.slick .slick-slide img {
  width: 100%;
  height: auto;
}
.slick .slick-slide .blurb {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 70px;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
@media (max-width: 767px) {
  .slick .slick-slide .blurb {
    padding: 30px 50px 10px;
  }
}
.slick .slick-slide .blurb h3 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .slick .slick-slide .blurb h3 {
    font-size: 20px;
  }
}
.slick .slick-slide .blurb p {
  font-size: 18px;
  color: #fff;
  line-height: 24px;
}
@media (max-width: 767px) {
  .slick .slick-slide .blurb p {
    line-height: 20px;
  }
}
.slick .slick-slide .blurb .btn {
  font-size: 18px;
  padding: 12px 30px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.slides {
  margin-bottom: 60px;
}

div[class*="box"] + div[class*="box"] {
  margin-top: 30px;
}
div[class*="box"] + div[class*="box"].flush {
  margin-top: 0;
}
div[class*="box"] h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
div[class*="box"] h4 + p {
  margin-top: 20px;
}
div[class*="box"] p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
div[class*="box"] p + h4 {
  margin-top: 20px;
}
div[class*="box"] .item-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
div[class*="box"].center {
  text-align: center;
}
div[class*="box"].flush {
  margin-top: 0;
}
div[class*="box"].title1 h2 {
  font-size: 22px;
  text-transform: none;
  margin: 0 0 10px 0;
  line-height: 32px;
  color: #43527e;
  border-bottom: 3px solid #43527e;
}
div[class*="box"].box1 {
  background: #43527e;
  padding: 20px;
  color: #fff;
}
div[class*="box"].box2 {
  background: #313c5d;
  color: #fff;
  padding: 20px;
}
div[class*="box"].box3 {
  background: #f0f0f0;
  padding: 20px;
  color: #231F20;
}
div[class*="box"].box4 {
  border: 2px solid #43527e;
  padding: 20px;
  color: darken #3c3d40;
}
div[class*="box"].box4 h4 {
  color: #43527e;
}

.no-fees {
  background: #a6bb51;
  text-align: center;
  padding: 20px 0;
}
.no-fees p {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 0;
}
.no-fees strong {
  color: #495320;
}
.no-fees a {
  color: #fff;
  position: relative;
  text-decoration: none;
}
.no-fees a::after {
  background: #69772f;
  content: "";
  width: 0;
  height: 2px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.no-fees a:hover, .no-fees a:focus {
  color: #69772f;
}
.no-fees a:hover::after, .no-fees a:focus::after {
  width: 100%;
}

.features {
  margin: 60px -15px;
}
@media (max-width: 767px) {
  .features {
    margin: 0 -15px;
  }
}
.features div[class^="box"] {
  text-align: center;
  padding: 40px 20px;
}
.features div[class^="box"] .title {
  color: #fff;
  font-size: 20px;
}
.features div[class^="box"] .blurb {
  font-size: 80px;
  font-weight: 800;
  margin: 40px 0;
}
@media (max-width: 767px) {
  .features div[class^="box"] .blurb {
    font-size: 45px;
    margin: 20px 0;
  }
}
.features div[class^="box"] .blurb span {
  font-size: 50px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .features div[class^="box"] .blurb span {
    font-size: 25px;
  }
}
.features div[class^="box"].box2 {
  margin: -30px 0;
  padding: 70px 0;
}

#block-staffordshire-local-tasks ul {
  padding: 0;
  list-style-type: none;
  border-bottom: 2px solid #f0f0f0;
}
#block-staffordshire-local-tasks ul li {
  display: inline-block;
  background: #f0f0f0;
  padding: 10px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
#block-staffordshire-local-tasks ul li:hover, #block-staffordshire-local-tasks ul li:focus {
  background: #d8d8d8;
}
#block-staffordshire-local-tasks ul li:hover a, #block-staffordshire-local-tasks ul li:focus a {
  color: #fff;
}
#block-staffordshire-local-tasks ul li a {
  color: #231F20;
}

#block-homepagefeatures, #block-homepagefeatures-2 {
  text-align: center;
  color: #fff;
}
#block-homepagefeatures h2, #block-homepagefeatures-2 h2 {
  margin: 0 0 100px 0;
  position: relative;
}
#block-homepagefeatures h2::after, #block-homepagefeatures-2 h2::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  background: #fff;
  left: 50%;
  top: 100%;
  margin-top: 35px;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
#block-homepagefeatures .inner, #block-homepagefeatures-2 .inner {
  background: #fff;
  padding: 45px 20px;
  color: #43527d;
}
@media (min-width: 768px) and (max-width: 991px) {
  #block-homepagefeatures .inner, #block-homepagefeatures-2 .inner {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  #block-homepagefeatures .inner, #block-homepagefeatures-2 .inner {
    margin-bottom: 15px;
  }
}
#block-homepagefeatures .inner p, #block-homepagefeatures-2 .inner p {
  font-size: 15px;
  line-height: 21px;
  margin: 0;
}
#block-homepagefeatures .inner i, #block-homepagefeatures-2 .inner i {
  font-size: 65px;
  margin-bottom: 25px;
  display: block;
}

#block-homepagefeatures-2 div[class^="col"] .inner {
  background: #43527e;
  color: #fff;
}
#block-homepagefeatures-2 div[class^="col"]:nth-of-type(even) .inner {
  background: #313c5d;
}

.header {
  padding: 10px 0;
}
@media (max-width: 767px) {
  .nav-open .header #block-staffordshire-branding {
    position: fixed;
    z-index: 9;
  }
}
.header .logo {
  position: relative;
  z-index: 9;
}
.header .logo .white-logo {
  display: none;
}
@media (max-width: 767px) {
  .nav-open .header #block-mobilemenutoggle {
    position: fixed;
    z-index: 9;
    right: 0;
  }
}
.header .nav-toggle {
  font-size: 33px;
  color: #fff;
  margin-top: 20px;
  position: relative;
  z-index: 9;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  moz-transform-origin: 15px;
  -o-transform-origin: 15px;
  -ms-transform-origin: 15px;
  -webkit-transform-origin: 15px;
  transform-origin: 15px;
  -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.nav-open .header .nav-toggle {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (max-width: 767px) {
  .nav-open .header .nav-toggle {
    color: #43527e !important;
  }
}
.scroll:not(.nav-open) .header .nav-toggle {
  color: #43527e;
}
@media (max-width: 767px) {
  .header .nav-toggle {
    color: #43527e;
  }
  .home-wrap .header .nav-toggle {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .header .nav {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: #f5f5f5;
    padding: 100px 40px;
    height: 100vh;
    z-index: 2;
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
  }
  .nav-open .header .nav {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.header .nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
@media (max-width: 767px) {
  .header .nav ul {
    text-align: left;
  }
}
.header .nav ul li {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  padding: 20px 30px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .nav ul li {
    padding: 10px 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .nav ul li {
    padding: 10px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .header .nav ul li {
    display: block;
    padding: 30px 0;
  }
  .header .nav ul li + li {
    border-top: 1px solid #3a476d;
  }
}
.header .nav ul li a {
  color: #43527e;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 10px 0 5px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .nav ul li a {
    padding: 5px 0px;
  }
}
@media (max-width: 767px) {
  .header .nav ul li a {
    text-transform: uppercase;
    padding: 0;
  }
}
.header .nav ul li a::before {
  background: #43527e;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: -5px;
  height: 2px;
  width: 100%;
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}
@media (max-width: 767px) {
  .header .nav ul li a::before {
    display: none;
  }
}
.header .nav ul li a:hover::before, .header .nav ul li a.is-active::before {
  -moz-transform: translate(0%, 0);
  -o-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
  transform: translate(0%, 0);
}
@media (max-width: 767px) {
  .header .nav ul li a.is-active {
    color: #a6bb51;
  }
}
.header .nav ul li a.btn {
  border: 1px solid #43527e;
  padding: 20px 30px;
  -webkit-transition: border 0.3s linear, background 0.3s linear, color 0.3s linear;
  -moz-transition: border 0.3s linear, background 0.3s linear, color 0.3s linear;
  -ms-transition: border 0.3s linear, background 0.3s linear, color 0.3s linear;
  -o-transition: border 0.3s linear, background 0.3s linear, color 0.3s linear;
  transition: border 0.3s linear, background 0.3s linear, color 0.3s linear;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .nav ul li a.btn {
    padding: 10px 15px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .header .nav ul li a.btn {
    border: none !important;
    padding: 0;
    font-size: 22px;
  }
}
.header .nav ul li a.btn::before {
  display: none;
}
.header .nav ul li a.btn:hover {
  border: 1px solid #313c5d;
  background: #313c5d;
  color: #fff;
}
@media (max-width: 767px) {
  .header .nav ul li a.btn:hover {
    background: none !important;
  }
}

.footer {
  background: #fff;
  color: #3c3d40;
}
.footer p {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}
@media (max-width: 767px) {
  .footer p {
    text-align: left;
  }
}
.footer p a {
  color: #43527e;
}
.footer p a:hover {
  color: #a6bb51;
}
.footer .btn {
  text-align: center;
}
.footer .inline {
  list-style-type: none;
  padding: 0;
  text-align: right;
}
.footer .inline li {
  display: inline-block;
}
.footer .inline li:first-of-type {
  display: block;
}
.footer .inline li + li {
  background: #d8d8d8;
  padding: 10px;
  margin: 5px;
}

.home-wrap .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background: transparent;
  padding: 40px 0;
  -webkit-transition: background 0.3s linear, padding 0.3s linear;
  -moz-transition: background 0.3s linear, padding 0.3s linear;
  -ms-transition: background 0.3s linear, padding 0.3s linear;
  -o-transition: background 0.3s linear, padding 0.3s linear;
  transition: background 0.3s linear, padding 0.3s linear;
}
.home-wrap .header .logo .color-logo {
  display: none;
}
.nav-open .home-wrap .header .logo .color-logo {
  display: block;
}
.home-wrap .header .logo .white-logo {
  display: block;
}
.nav-open .home-wrap .header .logo .white-logo {
  display: none;
}
.home-wrap .header .nav ul li a {
  color: #fff;
}
.nav-open .home-wrap .header .nav ul li a {
  color: #43527e;
}
.home-wrap .header .nav ul li a::before {
  background: #fff;
}
.home-wrap .header .nav ul li a.btn {
  border: 1px solid #fff;
}
.home-wrap .header .nav ul li a.btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.scroll .home-wrap .header {
  background: #fff;
  padding: 10px 0;
}
.scroll .home-wrap .header .white-logo {
  display: none;
}
.scroll .home-wrap .header .color-logo {
  display: block;
  width: 66%;
}
.scroll .home-wrap .header .nav ul li {
  padding: 0 30px;
}
.scroll .home-wrap .header .nav ul li a {
  color: #43527e;
}
.scroll .home-wrap .header .nav ul li a::before {
  background: #43527e;
}
.scroll .home-wrap .header .nav ul li a.btn {
  border: 1px solid #43527e;
  padding: 15px 30px;
}
.scroll .home-wrap .header .nav ul li a.btn:hover {
  background: #313c5d;
  color: #fff;
}
.home-wrap .banner .bg {
  height: 40vh;
  min-height: 400px;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrap .banner .bg {
    min-height: 450px;
  }
}
@media (max-width: 767px) {
  .home-wrap .banner .bg {
    min-height: none;
  }
}
.home-wrap .banner .bg h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media (max-width: 767px) {
  .home-wrap .banner .bg h1 {
    font-size: 50px;
  }
}
.home-wrap .banner .scroll {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
.home-wrap .banner .scroll a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.home-wrap .top {
  padding: 80px 0 120px;
  background: #43527e;
  margin-bottom: 0;
}
.home-wrap .top::before {
  content: "Baltimore Hampden MT. Washington Canton Fells Point Roland Park Gwynn Oak Federal Hill Catonsville Inner Harbor Waverly Towson Belair Belvedere Charles Bolton Hill Upton Seton Hill Locust Point Pigtown Patterson Park Highlandtown Bayview Pimlico Overlea Loch Raven";
  font-size: 75px;
  position: absolute;
  text-transform: uppercase;
  font-weight: 800;
  color: #3e4d77;
  line-height: 100px;
  text-align: justify;
  letter-spacing: 1px;
  width: 100%;
  left: -10px;
  top: 0;
}
.home-wrap .main {
  display: none;
}
.home-wrap .feature .bg {
  height: 40vh;
  min-height: 650px;
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrap .feature .bg {
    height: auto;
  }
}
@media (max-width: 767px) {
  .home-wrap .feature .bg {
    height: auto;
  }
}
.home-wrap .feature .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(67, 82, 126, 0.6);
}
.home-wrap .feature .bg .inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-wrap .feature .bg .inner {
    position: relative;
    top: 0;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (max-width: 767px) {
  .home-wrap .feature .bg .inner {
    position: relative;
    top: 0;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.home-wrap .feature .bg .inner h2 {
  color: #fff;
  margin: 0;
  text-align: center;
  margin: 0 0 100px 0;
  position: relative;
}
.home-wrap .feature .bg .inner h2::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  background: #fff;
  left: 50%;
  top: 100%;
  margin-top: 35px;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.home-wrap .feature .bg .inner p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  width: 80%;
  margin: 0 auto 30px;
}

.content article h2 {
  font-size: 42px;
  text-transform: none;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 20px;
}
.content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 30px;
}
.content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) li {
  position: relative;
  font-size: 18px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) li {
    font-size: 16px;
  }
}
.content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) li + li {
  margin-top: 15px;
}
.content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) li::before {
  color: #43527e;
  content: "\2022";
  display: block;
  font-size: 28px;
  left: -20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  vertical-align: top;
}
.content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) li ul {
  margin-bottom: 0;
  margin-top: 10px;
}
.content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) li ul li {
  font-size: 16px;
}
.content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) li ul li + li {
  margin-top: 7px;
}
.content article ul:not(.contextual-links):not(.unstyled):not(.dropdown-menu):not(.slick-dots) li ul li::before {
  font-size: 24px;
}
.content article ul.two-col {
  columns: 2 auto;
  column-gap: 100px;
  display: inline-block;
  list-style-type: none;
  padding: 0;
}
@media (max-width: 767px) {
  .content article ul.two-col {
    columns: 1;
  }
}
.content .post + .post {
  border-top: 2px solid #f0f0f0;
  margin-top: 30px;
}
.content .tag {
  padding: 10px 20px;
  background: #f0f0f0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.content .tag::before {
  background: #a6bb51;
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 3px;
  left: 0;
  z-index: 2;
  -webkit-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.content .tag:hover::before, .content .tag:focus::before {
  width: 100%;
}
.content .tag + .tag {
  margin-left: 5px;
}
.content .tag a {
  text-decoration: none;
}
@media (max-width: 767px) {
  .content .box3 {
    margin: 0 -15px;
  }
}
@media (max-width: 767px) {
  .content .filters {
    margin-bottom: 40px;
  }
}
.content .filters .form-item {
  padding: 0;
  margin-bottom: 20px;
  float: none;
}
.content .filters .form-item label {
  color: #43527e;
  text-transform: uppercase;
  font-size: 20px;
}
.content .filters .btn:not(.dropdown-toggle) {
  background: #b66f36;
  color: #fff;
  display: block;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
}
.content .filters .btn:not(.dropdown-toggle):hover {
  background: #673f1f;
}
.content .filters #edit-reset {
  background: #d8d8d8;
  margin-top: 10px;
}
.content .filters #edit-reset:hover {
  background: #bfbfbf;
}
.content .sidebar h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  text-align: right;
  color: #231F20;
}
@media (max-width: 767px) {
  .content .sidebar h1 {
    text-align: left;
    font-size: 32px;
  }
}
.content .sidebar .info {
  margin: 20px 0;
  text-align: right;
  font-size: 22px;
}
.content .sidebar .info div {
  padding: 10px 0;
}
.content .sidebar .info div + div {
  border-top: 1px solid #d8d8d8;
}
.content .sidebar .info i {
  margin-right: 15px;
  float: left;
  line-height: 35px;
}
.content .sidebar .btn:not(.underline):not(.dropdown-toggle):not(.link) {
  text-align: center;
  padding: 20px 30px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 0 15px;
  }
}
.testimonials h2 {
  color: #b66f36;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: none;
}
.testimonials .testimonial {
  color: #333333;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}
.testimonials .testimonial::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 5px;
  background: #a6bb51;
  top: 0;
}
.testimonials .testimonial:nth-of-type(odd) {
  text-align: left;
  padding-left: 20px;
}
.testimonials .testimonial:nth-of-type(odd)::before {
  left: 0;
}
.testimonials .testimonial:nth-of-type(even) {
  text-align: right;
  padding-right: 20px;
}
.testimonials .testimonial:nth-of-type(even)::before {
  right: 0;
  background: #b66f36;
}
.testimonials .testimonial + .testimonial {
  margin-top: 30px;
}
.testimonials .pager {
  text-align: center;
}
.testimonials .pager .button {
  border-radius: 0;
  border: 2px solid #b66f36;
  color: #b66f36;
  font-size: 24px;
  padding: 10px 40px;
  line-height: 24px;
  -webkit-transition: backgorund 0.3s linear, color 0.3s linear;
  -moz-transition: backgorund 0.3s linear, color 0.3s linear;
  -ms-transition: backgorund 0.3s linear, color 0.3s linear;
  -o-transition: backgorund 0.3s linear, color 0.3s linear;
  transition: backgorund 0.3s linear, color 0.3s linear;
}
.testimonials .pager .button:hover {
  background: #b66f36;
  color: #fff;
}

.property-listings .property {
  position: relative;
}
.property-listings .property + .property {
  margin-top: 40px;
}
.property-listings .property .info {
  background: #a6bb51;
  top: -5px;
  right: 10px;
  padding: 10px;
  color: #fff;
  position: absolute;
  font-size: 18px;
  min-width: 90px;
}
.property-listings .property .info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 45px 0 0;
  border-color: #a6bb51 transparent transparent transparent;
}
.property-listings .property .info::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 45px 20px 0;
  border-color: transparent #a6bb51 transparent transparent;
}
.property-listings .property .info .price {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.property-listings .property .info .bed, .property-listings .property .info .bath {
  width: 90%;
  text-align: right;
  margin: 0 auto;
}
.property-listings .property .info .bed i, .property-listings .property .info .bath i {
  margin-right: 15px;
  float: left;
}
.property-listings .property .title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}
.property-listings .property .blurb {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: right;
}
@media (max-width: 767px) {
  .property-listings .property .blurb {
    position: relative;
    text-align: left;
  }
}
.property-listings .property .blurb a {
  color: #a6bb51;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
}

body {
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
body section {
  padding: 40px 0;
  position: relative;
}
body section.banner {
  padding: 0;
}
body section.top {
  background: #f0f0f0;
  padding: 10px 0;
  overflow: hidden;
  margin-bottom: 30px;
}
body section.top h1 {
  color: #43527e;
  margin: 0;
  font-size: 40px;
  line-height: 52px;
}
body section.main {
  padding: 0;
}
body section.main .content-top {
  padding: 20px 0;
}
@media (max-width: 767px) {
  body section.main .content {
    padding-top: 0;
  }
}
.home-wrap body section.main .content {
  padding: 0;
}
body section.main .content-bottom {
  padding: 20px 0;
}
body section .container {
  position: relative;
  height: 100%;
}
body section.bottom {
  background: #f0f0f0;
}
body section.feature {
  padding: 0;
}
body section.feature .full-cta {
  padding: 80px 0 120px;
  background: #43527e;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  body section.feature .full-cta {
    padding: 40px 0;
  }
}
body section.feature .full-cta h2 {
  color: #fff;
}
body section.feature .full-cta p {
  color: #fff;
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 991px) {
  body section.feature .full-cta p {
    width: 80%;
  }
}
@media (max-width: 767px) {
  body section.feature .full-cta p {
    width: 90%;
  }
}
body section.feature .full-cta .btn {
  color: #fff;
  text-transform: none;
  font-weight: 300;
  border: 2px solid #fff;
  background: transparent;
  padding: 30px 60px;
  margin-top: 60px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
body section.feature .full-cta .btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
body section.feature .full-cta .btn.btn-lg {
  font-size: 40px;
}
@media (max-width: 767px) {
  body section.feature .full-cta .btn.btn-lg {
    font-size: 20px;
    padding: 15px 20px;
  }
}
body img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  body img {
    max-width: 100% !important;
  }
}
body img.full-width {
  height: auto;
  width: 100%;
  margin: 20px 0 10px;
}
body h1 {
  font-size: 50px;
  font-weight: 300;
  color: #43527e;
  line-height: 75px;
}
@media (max-width: 767px) {
  body h1 {
    font-size: 40px;
    line-height: 55px;
  }
}
body h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 62px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  body h2 {
    font-size: 30px;
    line-height: 42px;
  }
}
body h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 30px 0 18px 0;
}
@media (max-width: 767px) {
  body h3 {
    font-size: 20px;
  }
}
body h4 {
  font-size: 20px;
  margin: 30px 0 18px 0;
}
body p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
}
body p.lead {
  text-transform: none;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  line-height: 40px;
  margin: 0 0 30px 0;
}
body a {
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
body blockquote {
  margin: 30px 0;
  border-left: 5px solid #a6bb51;
}
body blockquote p {
  font-family: Georgia, serif;
  color: #231F20;
  font-style: italic;
  font-size: 21px;
  font-weight: 600;
  line-height: 30px;
}
body blockquote strong {
  color: #d8d8d8;
  font-style: none;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
body figure.align-left {
  margin: 10px  20px 10px 0;
}
body figure.align-right {
  margin: 10px  0 10px 20px;
}
body figure figcaption {
  font-family: "Roboto", sans-serif;
  color: #d8d8d8;
  margin-top: 10px;
  display: block;
  font-size: 14px;
}
body table {
  border: none;
}
body table tr th {
  border: none;
  background: #43527e;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding: 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
}
body table tr td {
  border: none;
  background: #fff;
  padding: 10px;
}
body table tr:nth-of-type(2n) td {
  background: #f0f0f0;
  border-top: 1px solid #d8d8d8;
}
body .flush {
  margin: 0 !important;
}
body .unstyled {
  list-style-type: none;
  padding: 0;
}
body .breadcrumb {
  background: none;
  padding: 0;
  color: #d8d8d8;
  margin-top: 5px;
}
body .breadcrumb a {
  text-transform: uppercase;
  color: #d8d8d8;
  letter-spacing: 1px;
}
body .breadcrumb a:hover {
  color: #43527e;
}
body .breadcrumb span {
  color: #231F20;
  text-transform: uppercase;
}
body .pager {
  text-align: left;
}
body .pager ul {
  padding: 0;
}
body .pager ul li a {
  border-radius: 0;
  padding: 10px 15px;
  border: 2px solid #231F20;
  color: #231F20;
  text-decoration: none;
  font-size: 21px;
  -webkit-transition: background 0.3s linear, border 0.3s linear;
  -moz-transition: background 0.3s linear, border 0.3s linear;
  -ms-transition: background 0.3s linear, border 0.3s linear;
  -o-transition: background 0.3s linear, border 0.3s linear;
  transition: background 0.3s linear, border 0.3s linear;
}
body .pager ul li.is-active a, body .pager ul li:hover a {
  background: #a6bb51;
  border-bottom: 2px solid #a6bb51;
}

/*XL Grid*/
@media (min-width: 1600px) {
  .col-xl-12 {
    width: 100%;
  }

  .col-xl-11 {
    width: 91.66666667%;
  }

  .col-xl-10 {
    width: 83.33333333%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-8 {
    width: 66.66666667%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-5 {
    width: 41.66666667%;
  }

  .col-xl-4 {
    width: 33.33333333%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }

  .col-xl-1 {
    width: 8.33333333%;
  }

  .col-xl-pull-12 {
    right: 100%;
  }

  .col-xl-pull-11 {
    right: 91.66666667%;
  }

  .col-xl-pull-10 {
    right: 83.33333333%;
  }

  .col-xl-pull-9 {
    right: 75%;
  }

  .col-xl-pull-8 {
    right: 66.66666667%;
  }

  .col-xl-pull-7 {
    right: 58.33333333%;
  }

  .col-xl-pull-6 {
    right: 50%;
  }

  .col-xl-pull-5 {
    right: 41.66666667%;
  }

  .col-xl-pull-4 {
    right: 33.33333333%;
  }

  .col-xl-pull-3 {
    right: 25%;
  }

  .col-xl-pull-2 {
    right: 16.66666667%;
  }

  .col-xl-pull-1 {
    right: 8.33333333%;
  }

  .col-xl-push-12 {
    left: 100%;
  }

  .col-xl-push-11 {
    left: 91.66666667%;
  }

  .col-xl-push-10 {
    left: 83.33333333%;
  }

  .col-xl-push-9 {
    left: 75%;
  }

  .col-xl-push-8 {
    left: 66.66666667%;
  }

  .col-xl-push-7 {
    left: 58.33333333%;
  }

  .col-xl-push-6 {
    left: 50%;
  }

  .col-xl-push-5 {
    left: 41.66666667%;
  }

  .col-xl-push-4 {
    left: 33.33333333%;
  }

  .col-xl-push-3 {
    left: 25%;
  }

  .col-xl-push-2 {
    left: 16.66666667%;
  }

  .col-xl-push-1 {
    left: 8.33333333%;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }
}
